/* Global */
body {
    background: #fdf6e3 ;
    color: #657b83 ;
}

/* --- */

a {
    outline: 0 ;
}

a img {
    border: 0px ;
    text-decoration: underline ;
}

a:link, a:visited {
    color: #dc322f ;
    padding: 0 1px;
}

a:hover, a:active {
    background-color: #eee8d5 ;
    color: #dc322f ;
    text-shadow: 1px 1px 1px #333;
}

/* ------------------ */

#banner img {
    display: block ;
    margin-left: auto ;
    margin-right: auto ;
}

#banner nav {
    background: #002b36 ;
    color: #839496 ;
    text-align : center ;
    border-radius: 5px ;
}

#banner ul {
    list-style: none ;
    margin: 0 auto ;
    width: 80% ;
}
